<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Amazon Pay POC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Amazon Pay POC</h1>
        <p><a th:href="@{/pay}" class="btn btn-outline-brand btn-block">Pay</a></p>
        <p><a th:href="@{/refund}" class="btn btn-outline-brand btn-block">Refund</a></p>
        <p><a th:href="@{/refundDetails}" class="btn btn-outline-brand btn-block">Get Refund Details</a></p>
</body>
</html>
